<section id="feature" class="feature">
  <div class="container">
    <div class="section-header">
      <h2>Sipariş Detayı</h2>
    </div>
    <div class="feature-content">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <div id="invoice">
              <div class="toolbar hidden-print">
                <div class="text-end">
                  <a href="javascript:window.print()" class="btn btn-dark btn-lg"><i class="fa fa-print"></i> Print</a>
                </div>
                <hr>
              </div>
              <div class="invoice overflow-auto">
                <div style="min-width: 600px">
                  <main>
                    <div class="row contacts">
                      <div class="col invoice-to">
                        <h2 class="to">Tarih: 25.06.2022</h2>
                        <h2 class="to">Sipariş Numarası: S00000000001</h2>
                        <h2 class="to">Sipariş Durumu: <strong>Onay Bekliyor</strong></h2>
                      </div>
                    </div>
                    <table>
                      <thead>
                        <tr>
                          <th>#</th>
                          <th class="text-left">Ürün Adı</th>
                          <th class="text-right">Adet</th>
                          <th class="text-right">Birim Fiyat</th>
                          <th class="text-right">Toplam</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="no">1</td>
                          <td class="text-left">
                            <h3>Koltuk Takımı</h3>
                          </td>
                          <td class="unit">1</td>
                          <td class="qty">100</td>
                          <td class="total">$0.00</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="2"></td>
                          <td colspan="2">Toplam</td>
                          <td>$6,500.00</td>
                        </tr>
                      </tfoot>
                    </table>
                  </main>
                </div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
