<footer id="footer"  class="footer">
  <div class="container">
    <div class="hm-footer-copyright text-center">
      <p>
        &copy;copyright. designed and developed by <a href="https://www.tanersaydam.net">Taner Saydam</a>
      </p><!--/p-->
    </div><!--/.text-center-->
  </div><!--/.container-->

  <div id="scroll-Top">
    <div class="return-to-top">
      <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
    </div>

  </div><!--/.scroll-Top-->

    </footer>
